
DB_NAME=fullstack-legosets-database
MAX_LIMIT_PER_QUERY=90

JWT_EXPIRY='30d'

PASSWORD_SALT_ROUNDS=10

ACCESS_LEVEL_NORMAL_USER=1
ACCESS_LEVEL_ADMIN=2

ADMIN_EMAIL=admin@example.com
ADMIN_NAME=Admin
ADMIN_PASSWORD=change-me
